.navbar-container {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #3D3D3D;
    background: linear-gradient(180deg, rgba(61, 61, 61, 0.75) 0%, rgba(61, 61, 61, 0.2) 100%);
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-container img {
    height: 100px;
}

.navbar-links {
    margin-left: auto;
}