.navbar-container {
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-container img {
    height: 100px;
}

.navbar-links {
    margin-left: auto;
}