.navbar-container {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #ffffff;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-container img {
    height: 100px;
}

.navbar-links {
    margin-left: auto;
}