.background {
  position: absolute;
  top: 0;
  width: 100%;
}

.background img {
  position: relative;
  inset: 0;

  width: 100%;
  height: 900px;

  object-fit: cover;
  object-position: 50% 50%;

  pointer-events: none;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  box-shadow: 0px 3px 19.3px 4px rgba(0, 0, 0, 0.2);
}

/* for future me: do not use AI to code, i learned it the hard way...*/